vendor*
build/*
dist
*.egg-info
*.egg
*.pyc
.idea
.vscode
.DS_Store
.*sw*
.env
*~

.eggs
venv*
.venv
.act*

buildrunner.results
curator.results

# Ignore all .tar files
# Manually running of some example files may create local .tar files
*.tar