--extra-index-url https://***REMOVED***/artifactory/api/pypi/***REMOVED***/simple/vcsinfo/
--extra-index-url https://***REMOVED***/artifactory/api/pypi/***REMOVED***/simple/
PyYAML>=3.11
vcsinfo>=0.1.50
requests>=2.6.0
paramiko>=1.16.0
pycrypto>=2.6.1
docker==3.6.0
fabric==1.10.1
Jinja2<3
twine==1.13.0
setuptools<45
# >=2.0 versions of MarkupSafe no longer work with Python 2.7
MarkupSafe<2.0
# pyparsing>=3.0.0a1 versions are Python 3 only
pyparsing==2.4.7

