vcsinfo>=2.1.105
PyYAML==6.0
requests==2.25.0
paramiko==2.7.2
bcrypt==3.2.0
docker==4.4.4
fabric==2.5.0
Jinja2==2.11.2
twine==3.2.0
MarkupSafe==1.1.1
pyparsing==2.4.7
decorator==5.1.0
# Last version to support python 3.6
GitPython<=3.1.18
