Jinja2>=2.11.2
PyYAML>=6.0
bcrypt>=3.2.0
decorator>=5.1.0
docker>=6.1.2
fabric>=2.5.0
paramiko>=2.10.3
requests>=2.27.0
twine>=3.2.0
vcsinfo>=2.1.105
graphlib-backport>=1.0.3
timeout-decorator>=0.5.0
python-on-whales>=0.61.0
# python-on-whales requires pydantic 1.10.11 08/2023
pydantic>=1.10.11
